<h2>{{details.name | uppercase}} Details</h2>
<div><span>Id: </span>{{details.id}}</div>
<div><span>Name: </span>{{details.name}}</div>
<div><span>Email: </span>{{details.email}}</div>
<div><span>Password: </span>{{details.password}}</div>
<div><span>Coupons: </span></div>
<ul class="coupons">
    <li *ngFor="let coupon of details.coupons">
        <div><span>Id: </span>{{coupon.id}}</div>
        <div><span>Image: </span>{{coupon.image}}</div>
        <div><span>Price: </span>{{coupon.price}}</div>
        <div><span>Title: </span>{{coupon.title}}</div>
        <div><span>Category: </span>{{coupon.category}}</div>
        <div><span>Amount: </span>{{coupon.amount}}</div>
        <div><span>CompanyId: </span>{{coupon.companyId}}</div>
        <div><span>Description: </span>{{coupon.description}}</div>
        <div><span>StartDate: </span>{{coupon.startDate}}</div>
        <div><span>EndDate: </span>{{coupon.endDate}}</div>
    </li>
</ul>