<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Email</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Email is required</div>
            <small *ngIf="f.username.errors.pattern">Please provide a valid email address</small>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="clienttype">Client Type</label>
        <select class="custom-select" formControlName="clienttype" [ngClass]="{ 'is-invalid': submitted && f.clienttype.errors }">
            <option value="admin">Admin</option>
            <option value="company">Company</option>
            <option value="customer">Customer</option>
         </select>
        <div *ngIf="submitted && f.clienttype.errors" class="invalid-feedback">
            <div *ngIf="f.clienttype.errors.required">Client Type is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>
    </div>
</form>